* {
  margin: 0px;
  padding: 0px;
  font: 2vw/ "Lucida Sans Unicode";
}

body {
  margin: 0px;
  overflow: visible;
  position: relative;
  height: 250vh;
}

.top1 {
  background-image: url(../img/country_hub_page-bus-mw.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 47vh;
  box-shadow: 0px -190px 50px 0px rgba(0, 0, 0, 0.377) inset;
}
.navigation_bar {
  position: absolute;
  width: 85vw;
  left: 7.5vw;
  top: 3vh;
}

nav li {
  float: right;
  list-style-type: none;
}

li a {
  color: black;
  text-decoration: none;
  padding: 1.3vw;
  display: block;
  font-size: 1.3vw;
  transition: background-color 0.2s, color 0.2s;
  align-self: center;
}

li a:hover {
  background-color: rgb(12, 120, 207);
  color: white;
}

span {
  float: left;
  padding-left: 0.9vw;
  padding-top: 0.9vw;
  font-size: 1.8vw;
  transition: transform 2s;
}
span:hover {
  transform: translateX(5.2vw);
}

nav {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 18px;
}

.drop_start {
  float: right;
  clear: right;
  width: 13vw;
  animation: start;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
}
.drop_finish {
  float: right;
  clear: right;
  width: 13vw;
  border-top: 0px;
  animation: finish;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
}

.drop_start li,
.drop_finish li {
  list-style: none;
}

.drop {
  display: none;
}
.logo {
  width: 16vw;
  height: 3.8vw;
}
.top1 h2 {
  position: absolute;
  top: 27vh;
  left: 9vw;
  color: white;
  font-size: 3.2vw;
  font-weight: 100;
}

.top1 h1 {
  position: absolute;
  top: 19vh;
  left: 8.7vw;
  font-size: 4.5vw;
  font: italic 5vw/30px "arvo";
  color: rgb(255, 255, 255);
  transition: transform 2s, color 2s;
}

.top1 h1:hover {
  transform: translateX(8vw);
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 775px) {
  a {
    font-size: 10px;
  }
  span {
    font-size: 14px;
  }
}
@keyframes finish {
  from {
    height: 8.2vw;
  }
  to {
    height: 0vw;
  }
}
@keyframes start {
  from {
    height: 0vw;
  }
  to {
    height: 8.2vw;
  }
}
/*Search area in the main page*/
.search1 {
  background-color: rgb(255, 255, 255);
  height: 5vw;
  width: 90vw;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 11px;
  position: absolute;
  top: 43vh;
  left: 5vw;
}

form input {
  height: 3.5vw;
  width: 22vw;
}

.search2 {
  position: absolute;
  left: 1.3vw;
  top: 0.75vw;
}

.search2 input {
  border: black 1.5px solid;
  border-radius: 6px;
  margin-right: 2.8vw;
  border: 0px;
  background-color: rgba(190, 189, 189, 0.575);
  position: relative;
  font: 2vw/30px "Lucida Sans Unicode";
}

.search2 input:hover {
  border: 0.3px black solid;
}

::placeholder {
  font-size: 1.3vw;
  text-align: center;
  color: rgba(0, 0, 0, 0.842);
}

.search2 button {
  height: 3.5vw;
  width: 12.6vw;
  font-size: 1.5vw;
  background-color: rgb(12, 120, 207);
  border: 0px;
  border-radius: 12px;
  cursor: pointer;
  color: white;
  position: absolute;
}
/*covid warning*/
.covid {
  position: absolute;
  top: 60vh;
  border: red 6px solid;
  left: 28vw;
  width: 40vw;
}
.covid:hover {
  cursor: pointer;
}
.covid img {
  width: 12vw;
}
.covid h4 {
  position: absolute;
  top: 2vw;
  left: 29vh;
  font-size: 1.9vw;
  animation: covid 1s infinite;
}

.covid p {
  position: absolute;
  top: 10vh;
  left: 14.8vw;
  font-size: 1.5vw;
}

@keyframes covid {
  0% {
    color: rgb(255, 0, 0);
  }
  50% {
    color: rgb(129, 126, 126);
  }
  100% {
    color: red;
  }
}

/*Why us?*/
.why_us h2 {
  position: absolute;
  top: 88.5vh;
  left: 40vw;
  font-size: 4.5vw;
  font-weight: 200;
}

/*best price*/
.bestp {
  width: 20vw;
  box-shadow: -10px -10px 10px 8px rgba(0, 0, 0, 0.452);
  border-radius: 12px;
  position: absolute;
  top: 107.5vh;
  left: 9vw;
}

.bestp img {
  width: 10vw;
  margin-left: 5vw;
}

.bestp h3 {
  text-align: center;
  font-size: 2vw;
}

.bestp p {
  text-align: center;
  margin-top: 1.3vw;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 9px;
  font-size: 1.2vw;
}

/*More choices*/
.morec {
  width: 20vw;
  box-shadow: -10px -10px 10px 8px rgba(0, 0, 0, 0.452);
  border-radius: 12px;
  position: absolute;
  top: 107.5vh;
  left: 39.9vw;
}

.morec img {
  width: 10vw;
  margin-left: 5vw;
}

.morec h3 {
  text-align: center;
  font-size: 2vw;
}

.morec p {
  text-align: center;
  margin-top: 1.3vw;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 9px;
  font-size: 1.2vw;
}

/*Customer sup*/
.excellents {
  width: 20vw;
  box-shadow: -10px -10px 10px 8px rgba(0, 0, 0, 0.452);
  border-radius: 12px;
  position: absolute;
  top: 107.5vh;
  left: 70vw;
}

.excellents img {
  width: 10vw;
  margin-left: 5vw;
}

.excellents h3 {
  text-align: center;
  font-size: 2vw;
}

.excellents p {
  text-align: center;
  margin-top: 1.3vw;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 9px;
  font-size: 1.2vw;
}

/*booking flexibility*/
.bookingf {
  width: 20vw;
  box-shadow: -10px -10px 10px 8px rgba(0, 0, 0, 0.452);
  border-radius: 12px;
  position: absolute;
  top: 165.5vh;
  left: 70vw;
}

.bookingf img {
  width: 10vw;
  margin-left: 5vw;
}

.bookingf h3 {
  text-align: center;
  font-size: 2vw;
}

.bookingf p {
  text-align: center;
  margin-top: 1.3vw;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 9px;
  font-size: 1.2vw;
}

/*reliable service*/
.reliables {
  width: 20vw;
  box-shadow: -10px -10px 10px 8px rgba(0, 0, 0, 0.452);
  border-radius: 12px;
  position: absolute;
  top: 165.5vh;
  left: 39.9vw;
}

.reliables img {
  width: 10vw;
  margin-left: 5vw;
}

.reliables h3 {
  text-align: center;
  font-size: 2vw;
}

.reliables p {
  text-align: center;
  margin-top: 1.3vw;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 9px;
  font-size: 1.2vw;
}

/*award winning service*/
.award {
  width: 20vw;
  box-shadow: -10px -10px 10px 8px rgba(0, 0, 0, 0.452);
  border-radius: 12px;
  position: absolute;
  top: 165.5vh;
  left: 9vw;
}

.award img {
  width: 10vw;
  margin-left: 5vw;
}

.award h3 {
  text-align: center;
  font-size: 2vw;
}

.award p {
  text-align: center;
  margin-top: 1.3vw;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 18px;
  font-size: 1.2vw;
}
/*Footer*/
footer {
  height: 15vw;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: black;
}
footer a {
  color: white;
  display: block;
  text-decoration: none;
  font-size: 1.2vw;
  padding: 0.3vw;
  line-height: 1.5vw;
  padding-left: 1vw;
}
footer h5 {
  color: white;
  font-size: 1.7vw;
  padding: 1vw;
}
footer img {
  height: 4vw;
}
footer p {
  color: white;
  font-size: 0.8vw;
  position: absolute;
  bottom: 0vh;
  left: 43vw;
}
/*more part*/
.more {
  float: left;
}
/*app part*/
.apps {
  float: left;
  position: absolute;
  left: 40vw;
}
.apps .apple {
  position: absolute;
  left: 5vw;
  top: 3.4vw;
}

.apps .android {
  position: absolute;
  left: 5vw;
  top: 9.4vw;
}
/*social part*/
.social {
  float: right;
  position: absolute;
  right: 2vw;
}
.social .fb {
  position: absolute;
  top: 4.8vw;
  right: 11.2vw;
  height: 3.7vw;
}

.social .insta {
  position: absolute;
  top: 4.8vw;
  right: 5.9vw;
  height: 3.7vw;
}

.social .twitter {
  position: absolute;
  top: 5vw;
  right: 1vw;
  height: 3.3vw;
}

.social .utube {
  position: absolute;
  top: 9vw;
  right: 11vw;
}
.social .linkedin {
  position: absolute;
  top: 9vw;
  right: 5.8vw;
  height: 3.8vw;
}

.social .reddit {
  position: absolute;
  top: 9vw;
  right: 1vw;
  height: 3.8vw;
}
